//Variables
$white: #fff;
$green: #76EE00;
$gray: #4C4C4C;
$light-gray: #dbdbdb;
$redish: #E71D36;
$hot-pink: #ED217C;
$blue: #090C9B;
$orange: #FF8300;
$purple: #8A4FFF;
$teal: #55DBCB;

html {
	font-size: 62.5%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.heading {
	font-family: 'Raleway', sans-serif;
	color: $white;
	font-size: 6rem;
	text-align: center;
	text-shadow: 2px 1px $gray;
}

.text {
	color: $gray;
}

.nxtBtn {
	position: fixed;
	bottom: 15px;
	right: 25px;
	align-self: flex-end;
}
