@import '../shared.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 20rem;
	border: none;
	background-color: #000;
	margin-top: 5rem;
	padding: 1.5rem 3rem;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border-radius: 5.5px;
	box-shadow: 0rem 1rem 3rem #7e7e7e;
	transition: all .5s ease;

	&__text {
		color: $white;
		text-align: center;
	}

	&:hover {
		background-color: #3f3f3f;
	}
}
