html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem; }

.text {
  color: #4C4C4C; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem; }

.text {
  color: #4C4C4C; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(118, 238, 0, 0.7);
  height: 100vh; }
  .home__title {
    text-shadow: 2px 1px #fff; }

.wrong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E84855; }
  .wrong__title {
    font-size: 5rem;
    margin-bottom: 2rem; }
  .wrong__txt {
    font-size: 2.5rem;
    text-shadow: 1.5px 1px #dbdbdb; }
